th,
td {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: grey;
}

.screenreader {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
